figure.reveal,
div.reveal {
    visibility: hidden;
}
/* figure.reveal img {
    object-fit: cover;
} */

/* myWorkPhp */
.myWorkPhp__wrap {
    width: 100%;
    /* background: #fff; */
}
.myWorkPhp__inner {
    height: 100vh;
    display: flex;
    align-items: center;
}
.myWorkPhp__wrap figure {
    width: 60%;
    margin-right: 5vw;
    margin-left: 2vw;
}
.myWork__titleDescWrap {
    position: relative;
}
.myWorkPhp__wrap .myWork__titleDescWrap {
    margin-top: 3vh;
}

/* myWorkWebStan */
.myWorkWebStan__wrap {
    width: 100%;
    /* background: #fff; */
}
.myWorkWebStan__inner {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.myWorkWebStan__wrap figure {
    width: 62%;
    /* margin-right: 40px; */
    margin-left: 4vw;
}
.myWorkWebStan__wrap .myWork__titleDescWrap {
    margin-top: 15vh;
    margin-left: 2vw;
}

/* myWorkRefer */
.myWorkRefer__wrap {
    width: 100%;
    /* background: #fff; */
}
.myWorkRefer__inner {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 12vh 0;
}
.myWorkRefer__wrap figure {
    width: 42%;
    margin-right: 4vw;
    margin-left: 2vw;
}
.myWorkRefer__wrap .myWork__titleDescWrap {
    margin-top: 1vh;
}
.myWork__desc2 {
    margin-top: 46vh;
    margin-left: 15vw;
    line-height: 160%;
}

/* myWorkReactVue */
.myWorkReactVue__wrap {
    width: 100%;
    /* background: #fff; */
}
.myWorkReactVue__inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35vw;
    margin-top: 17vh;
}
.myWorkReactVue__inner figure {
    width: 70%;
}
.myWorkReactVue__wrap .myWork__titleDescWrap {
    margin-top: 2vh;
}

/* 제목&부제&설명 영역 */
.myWork__bigtitle {
    font-family: 'pp_eiko_italiclight';
    color: rgba(0,0,0,15%);
    font-size: 100px;
    margin-left: 80px;
}
.myWork__title {
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 2;
}
.myWork__desc {
    margin-top: 2vh;
    line-height: 160%;
}

/* 반응형 */
@media (max-width: 1280px) {
    .myWork__desc2 {
        margin-left: 4vw;
        margin-top: 26vh;
    }
    .myWork__bigtitle {
        font-size: 80px;
        margin-left: 60px;
    }
    .myWork__title {
        font-size: 20px;
        top: 30px;
    }
}
@media (max-width: 1157px) {
    .myWork__desc2 {
        display: none;
    }
}
@media (max-width: 800px) {
    .myWork__bigtitle {
        font-size: 60px;
        margin-left: 55px;
    }
    .myWork__title {
        font-size: 18px;
        top: 22px;
        left: 5vw;
    }
    .myWork__desc {
        font-size: 15px;
    }
    .myWorkReactVue__inner {
        margin-left: 18vw;
    }
}
@media (max-width: 550px) {
    .myWork__bigtitle {
        margin-left: 16px;
    }
    .myWorkPhp__inner {
        align-items: baseline;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }
    .myWorkWebStan__inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    .myWorkWebStan__wrap figure {
        margin-right: 0;
        margin-left: 0;
    }
    .myWorkWebStan__wrap .myWork__titleDescWrap {
        margin-top: 3vh;
        margin-left: 0;
    }
    .myWorkRefer__inner {
        margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: baseline;
        justify-content: center;
    }
    .myWorkRefer__wrap .myWork__titleDescWrap {
        margin-top: 3vh;
    }
    .myWorkReactVue__inner {
        margin-left: 0;
        margin-top: 0;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        align-items: center;
    }
    .myWork__title {
        top: 15%;
        left: 0vw;
    }
}